.next-shows
  .container
    .title
      |— NEXT SHOWS
    .inner.slider-inner
      a.feedback(href="")
        |— for more discuss, ho to feedback
      .slider
        .slide
          .title
            |DECEMBER 
            
            |22
          .line
          .description
            |Sylwester Narodowy w Warshawie
          .info
            a(href="")
              |INFO&TICKETS
            span
              |+
        .slide
          .title
            |DECEMBER 
            
            |22
          .line
          .description
            |Sylwester Narodowy w Warshawie
          .info
            a(href="")
              |INFO&TICKETS
            span
              |+
        .slide
          .title
            |DECEMBER 
           
            |22
          .line
          .description
            |Sylwester Narodowy w Warshawie
          .info
            a(href="")
              |INFO&TICKETS
            span
              |+
        .slide
          .title
            |DECEMBER 
            
            |22
          .line
          .description
            |Sylwester Narodowy w Warshawie
          .info
            a(href="")
              |INFO&TICKETS
            span
              |+
