#menu
  ul   
    li.current
      a(href="#")
        span
          |BOOKING & PRESS
    li
      a(href="#")
        span
          |CONTACT
    li
      a(href="#")
        span
          |LEGAL INFO
    li
      a(href="#")
        span
          |VANDIT RECORDS
    li
      a(href="#")
        span
          |WE ARE ONE FESTIVAL
    li
      a(href="#")
        span
          |MERCHANDISE