section.show-section(data-parallax="scroll" data-image-src="images/background.jpg")
  include ./invite/invite.static.jade
  include ./next-shows/next-show.static.jade
  include ./latest-video/latest-video.static.jade