/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    margin-top: -10px\9; /*lte IE 8*/
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

.container:before, .container:after {
  content: "";
  display: table; }
.container:after {
  clear: both; }

/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 50px;
  text-align: left;
  color: white;
  font-family: "AvantGarde LT Book"; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
      padding: 0 30px; } }
  @media screen and (max-width: 767px) {
    .container {
      padding: 0 15px; } }

html, body {
  font-size: 14px;
  line-height: 21px;
  background: #121212; }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    html, body {
      font-size: 14px; } }
  @media screen and (max-width: 767px) {
    html, body {
      font-size: 12px; } }

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  line-height: 1.6;
  resize: vertical; }

p {
  color: inherit; }

@-webkit-keyframes equilizer {
  0% {
    height: 27px; }
  50% {
    height: 13px; }
  100% {
    height: 27px; } }

@keyframes equilizer {
  0% {
    height: 27px; }
  50% {
    height: 13px; }
  100% {
    height: 27px; } }
@-webkit-keyframes equilizerTwo {
  0% {
    height: 13px; }
  50% {
    height: 27px; }
  100% {
    height: 13px; } }
@keyframes equilizerTwo {
  0% {
    height: 13px; }
  50% {
    height: 27px; }
  100% {
    height: 13px; } }
.parallax-mirror {
  z-index: 1 !important; }

a {
  outline: none !important; }

@font-face {
  font-family: 'AvantGarde LT CondBook';
  src: url("../fonts/AvantGardeLT-CondDemi.eot");
  src: url("../fonts/AvantGardeLT-CondDemi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvantGardeLT-CondDemi.woff2") format("woff2"), url("../fonts/AvantGardeLT-CondDemi.woff") format("woff"), url("../fonts/AvantGardeLT-CondDemi.ttf") format("truetype"), url("../fonts/AvantGardeLT-CondDemi.svg#AvantGardeLT-CondDemi") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'AvantGarde LT CondMedium';
  src: url("../fonts/AvantGardeLT-CondMedium.eot");
  src: url("../fonts/AvantGardeLT-CondMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvantGardeLT-CondMedium.woff2") format("woff2"), url("../fonts/AvantGardeLT-CondMedium.woff") format("woff"), url("../fonts/AvantGardeLT-CondMedium.ttf") format("truetype"), url("../fonts/AvantGardeLT-CondMedium.svg#AvantGardeLT-CondMedium") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'AvantGarde LT Book';
  src: url("../fonts/AvantGardeLT-Demi.eot");
  src: url("../fonts/AvantGardeLT-Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/AvantGardeLT-Demi.woff2") format("woff2"), url("../fonts/AvantGardeLT-Demi.woff") format("woff"), url("../fonts/AvantGardeLT-Demi.ttf") format("truetype"), url("../fonts/AvantGardeLT-Demi.svg#AvantGardeLT-Demi") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'AvantGarde LT Book';
  src: url("../fonts/AvantGardeLT-DemiOblique.eot");
  src: url("../fonts/AvantGardeLT-DemiOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/AvantGardeLT-DemiOblique.woff2") format("woff2"), url("../fonts/AvantGardeLT-DemiOblique.woff") format("woff"), url("../fonts/AvantGardeLT-DemiOblique.ttf") format("truetype"), url("../fonts/AvantGardeLT-DemiOblique.svg#AvantGardeLT-DemiOblique") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'AvantGarde LT CondMedium';
  src: url("../fonts/AvantGardeLT-CondBold.eot");
  src: url("../fonts/AvantGardeLT-CondBold.eot?#iefix") format("embedded-opentype"), url("../fonts/AvantGardeLT-CondBold.woff2") format("woff2"), url("../fonts/AvantGardeLT-CondBold.woff") format("woff"), url("../fonts/AvantGardeLT-CondBold.ttf") format("truetype"), url("../fonts/AvantGardeLT-CondBold.svg#AvantGardeLT-CondBold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'AvantGarde LT Book';
  src: url("../fonts/AvantGardeLT-BookOblique.eot");
  src: url("../fonts/AvantGardeLT-BookOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/AvantGardeLT-BookOblique.woff2") format("woff2"), url("../fonts/AvantGardeLT-BookOblique.woff") format("woff"), url("../fonts/AvantGardeLT-BookOblique.ttf") format("truetype"), url("../fonts/AvantGardeLT-BookOblique.svg#AvantGardeLT-BookOblique") format("svg");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'AvantGarde LT Book';
  src: url("../fonts/AvantGardeLT-Book.eot");
  src: url("../fonts/AvantGardeLT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/AvantGardeLT-Book.woff2") format("woff2"), url("../fonts/AvantGardeLT-Book.woff") format("woff"), url("../fonts/AvantGardeLT-Book.ttf") format("truetype"), url("../fonts/AvantGardeLT-Book.svg#AvantGardeLT-Book") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'AvantGarde LT CondBook';
  src: url("../fonts/AvantGardeLT-CondBook.eot");
  src: url("../fonts/AvantGardeLT-CondBook.eot?#iefix") format("embedded-opentype"), url("../fonts/AvantGardeLT-CondBook.woff2") format("woff2"), url("../fonts/AvantGardeLT-CondBook.woff") format("woff"), url("../fonts/AvantGardeLT-CondBook.ttf") format("truetype"), url("../fonts/AvantGardeLT-CondBook.svg#AvantGardeLT-CondBook") format("svg");
  font-weight: normal;
  font-style: normal; }
.header {
  width: 100%;
  padding: 2.14286rem 0; }
  .header .container {
    white-space: nowrap; }
    .header .container .logo {
      font-family: "AvantGarde LT CondMedium";
      display: inline-block;
      font-size: 2.14286rem;
      line-height: 2.5rem;
      vertical-align: middle; }
    .header .container nav {
      display: inline-block;
      vertical-align: middle;
      width: 79%; }
      .header .container nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: right;
        white-space: nowrap; }
        .header .container nav ul li {
          display: inline-block;
          overflow: hidden;
          vertical-align: middle;
          height: 100%;
          position: relative; }
          .header .container nav ul li:not(:last-of-type) {
            margin-right: 2%; }
          .header .container nav ul li a {
            text-decoration: none;
            color: white;
            font-size: 0.92857rem;
            outline: none;
            top: 20%;
            font-family: "AvantGarde LT CondBook";
            font-weight: bold; }
            .header .container nav ul li a:before {
              content: url("../images/line.svg");
              position: absolute;
              opacity: 0;
              left: 0;
              bottom: -40%;
              width: 250%;
              -webkit-transition: -webkit-transform 0.5s ease 0s;
              transition: -webkit-transform 0.5s ease 0s;
              transition: transform 0.5s ease 0s;
              transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s; }
        .header .container nav ul .current a {
          color: #0b63ed; }
          .header .container nav ul .current a:before {
            opacity: 1;
            -webkit-transform: translate3d(-250px, 0px, 0px);
                    transform: translate3d(-250px, 0px, 0px); }
          .header .container nav ul .current a span {
            -webkit-animation: myAnimation 1 0.5s ease 0s;
                    animation: myAnimation 1 0.5s ease 0s; }

.show-section {
  margin-top: 300px;
  height: 1100px; }
  .show-section .invite {
    position: relative;
    top: -300px;
    z-index: 2; }
    .show-section .invite .container .inner {
      min-height: 600px;
      width: 90%;
      background: url("../images/paul.png") no-repeat center center;
      background-size: cover;
      -webkit-box-shadow: 0 0 8px 3px #000;
              box-shadow: 0 0 8px 3px #000;
      padding: 4.28571rem;
      position: relative; }
      .show-section .invite .container .inner .title {
        font-size: 3.57143rem;
        line-height: 3.57143rem;
        letter-spacing: 0.07143rem;
        position: relative;
        width: 23.21429rem; }
        .show-section .invite .container .inner .title span {
          color: #0b63ed;
          font-size: 5.71429rem;
          letter-spacing: 1.07143rem;
          line-height: 0;
          position: absolute;
          bottom: -10%; }
        .show-section .invite .container .inner .title .line {
          width: 0.21429rem;
          height: 2.14286rem;
          background: #0b63ed;
          position: absolute;
          right: 0;
          top: 0; }
      .show-section .invite .container .inner .button {
        font-family: "AvantGarde LT CondMedium";
        position: absolute;
        bottom: 4.28571rem;
        padding: 0.71429rem 1.07143rem;
        border: 2px solid white;
        border-radius: 40px;
        font-weight: bold;
        cursor: pointer;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .show-section .invite .container .inner .button:hover {
          color: #0b63ed;
          border: 2px solid #0b63ed; }
  .show-section .next-shows {
    position: relative;
    z-index: 2;
    top: -250px; }
    .show-section .next-shows .container .title {
      font-size: 2.5rem;
      font-family: "AvantGarde LT CondMedium";
      font-weight: bold; }
    .show-section .next-shows .container .inner {
      text-align: right;
      position: relative;
      width: 100%; }
      .show-section .next-shows .container .inner .slick-dots li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.4);
        -webkit-transition: background 0.5s ease;
        transition: background 0.5s ease; }
        .show-section .next-shows .container .inner .slick-dots li:hover {
          background: rgba(255, 255, 255, 0.7); }
      .show-section .next-shows .container .inner .slick-dots .slick-active {
        background: rgba(255, 255, 255, 0.7); }
      .show-section .next-shows .container .inner .feedback {
        color: white;
        text-decoration: none;
        position: absolute;
        left: -105px;
        top: 165px;
        -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
                transform: rotate(-90deg); }
      .show-section .next-shows .container .inner .slider {
        display: inline-block;
        width: 90%;
        text-align: left;
        margin-top: 2.85714rem; }
        .show-section .next-shows .container .inner .slider .slick-list {
          padding: 0 !important; }
        .show-section .next-shows .container .inner .slider .slide {
          background: #1b1b1b;
          display: inline-block;
          outline: none !important;
          min-height: 20rem;
          margin-right: 1.42857rem;
          white-space: nowrap;
          width: 400px;
          border: 4px solid transparent;
          position: relative;
          padding: 1.42857rem;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; }
          .show-section .next-shows .container .inner .slider .slide .title {
            font-size: 1.78571rem;
            line-height: 1.78571rem;
            position: relative; }
          .show-section .next-shows .container .inner .slider .slide .line {
            width: 15%;
            height: 3px;
            background: white;
            margin-top: 1.07143rem; }
          .show-section .next-shows .container .inner .slider .slide .description {
            margin-top: 1.07143rem; }
          .show-section .next-shows .container .inner .slider .slide .info {
            position: absolute;
            bottom: 1.42857rem;
            color: #0b63ed;
            opacity: 0.2;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; }
            .show-section .next-shows .container .inner .slider .slide .info a {
              text-decoration: none;
              font-weight: bold;
              font-size: 1.78571rem;
              line-height: 3.57143rem;
              color: #0b63ed;
              vertical-align: bottom;
              display: inline-block;
              font-family: "AvantGarde LT CondMedium";
              outline: none; }
            .show-section .next-shows .container .inner .slider .slide .info span {
              font-family: "AvantGarde LT CondBook";
              font-weight: normal;
              font-size: 5.71429rem;
              line-height: 5rem;
              margin-left: 0.71429rem;
              display: inline-block;
              vertical-align: top; }
        .show-section .next-shows .container .inner .slider .slick-active {
          border: 4px solid #0b63ed; }
          .show-section .next-shows .container .inner .slider .slick-active .info {
            opacity: 1; }
  .show-section .latest-video {
    position: relative;
    z-index: 2;
    top: -180px; }
    .show-section .latest-video .container .title {
      font-size: 2.5rem;
      font-family: "AvantGarde LT CondMedium";
      font-weight: bold;
      line-height: 2.5rem;
      width: 100%; }
      .show-section .latest-video .container .title .text {
        width: 50%;
        text-align: left;
        display: inline-block; }
      .show-section .latest-video .container .title .equalizer {
        width: 40%;
        text-align: right;
        display: inline-block; }
        .show-section .latest-video .container .title .equalizer div {
          display: inline-block;
          width: 3px;
          background: #0b63ed;
          vertical-align: top;
          -webkit-animation: equilizer infinite 5s ease;
                  animation: equilizer infinite 5s ease; }
          .show-section .latest-video .container .title .equalizer div:first-of-type {
            margin-right: 4px;
            -webkit-animation: equilizerTwo infinite 3s ease;
                    animation: equilizerTwo infinite 3s ease; }
    .show-section .latest-video .container iframe {
      min-height: 500px;
      width: 90%;
      margin-top: 1.42857rem; }

.music-section {
  margin-top: 280px; }
  .music-section .title {
    font-size: 2.5rem;
    font-family: "AvantGarde LT CondMedium";
    font-weight: bold; }
  .music-section .player {
    margin-top: 2.85714rem; }
    .music-section .player .inner {
      height: 7.14286rem;
      width: 90%;
      background: #1a1a1a; }
      .music-section .player .inner div {
        display: inline-block;
        height: 100%;
        vertical-align: top; }
      .music-section .player .inner .image {
        background: red;
        width: 10%; }
      .music-section .player .inner .ui-icons {
        width: 15%;
        position: relative; }
        .music-section .player .inner .ui-icons .inner-icons {
          width: 100%;
          height: 24px;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-80%);
              -ms-transform: translateY(-80%);
                  transform: translateY(-80%); }
          .music-section .player .inner .ui-icons .inner-icons div {
            display: inline-block;
            width: 33.3%;
            text-align: center;
            cursor: pointer;
            opacity: 0.6;
            -webkit-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease; }
            .music-section .player .inner .ui-icons .inner-icons div:hover {
              opacity: 1; }
            .music-section .player .inner .ui-icons .inner-icons div svg {
              width: 35%;
              vertical-align: middle; }
              .music-section .player .inner .ui-icons .inner-icons div svg path {
                fill: white; }
      .music-section .player .inner .duration {
        width: 35%;
        overflow: hidden; }
        .music-section .player .inner .duration canvas {
          height: 80%; }
      .music-section .player .inner .name {
        width: 40%;
        background: white; }


/*# sourceMappingURL=app.css.map*/