.latest-video
  .container
    .title
      .text
        |— LATEST VIDEO
      .equalizer
        div
        div
    <iframe src="https://www.youtube.com/embed/hbryJ58TKt8" frameborder="0" allowfullscreen></iframe>