.player
  .inner
    .image
    .ui-icons
      .inner-icons
        .prev
          img.svg(src="images/prev.svg")
        .play
          .start.active
            img.svg(src="images/play.svg")
          .pause
            img.svg(src="images/pause.svg")
        .next
          img.svg(src="images/next.svg")
      .time
        span.min
          |00
        |:
        span.sec
          |00
    .duration#wave
    .name
      .name-title
        |Paul van Dyk LIVE at Cream Ibiza 2015

      .name-description
        |139 bpm