.list
  .inner
    .list-title-album
      |— The Politics Of Dancing 3
    ul.list-music
      li.active
        .title-music
          |TITLE
        .description-music
          |description
      li
        .title-music
          |TITLE
        .description-music
          |description
      li
        .title-music
          |TITLE
        .description-music
          |description
      li
        .title-music
          |TITLE
        .description-music
          |description
      li
        .title-music
          |TITLE
        .description-music
          |description
      li
        .title-music
          |TITLE
        .description-music
          |description
      li
        .title-music
          |TITLE
        .description-music
          |description